*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
}

.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.title{
    color:#3c5b77;
    font-size:40px;
    text-align: center;
    text-transform: uppercase;
}

header{
    width: 100%;
    height: 850px;

    background: #5D4157;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(100deg 11% 38% / 68%), hsl(313deg 19% 26% / 76%)),url(../imagen/imag0.jpg);
    background: linear-gradient(to right, hsl(100deg 11% 38% / 68%), hsl(313deg 19% 26% / 76%)),url(../imagen/imag0.jpg);


    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

nav{
    width: 100%;
    height: 90px;
    background:#fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    top:0;
    position: fixed;
    display:flex;
    transition: ease-in-out 0.5s;
}

.nav .logo a{
    color: #5d7278;
    font-weight: bold;
    text-decoration: none;
    font-size:30px
}

.links-header{
    transition: ease-in-out 0.5s;
}

.links-header a{
    color:#645d78;
    margin-left: 50px;
    text-decoration:none;
}

.nav{
    display:flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    align-items: center;
    padding: 0 30px;
    z-index: 20;
}

header .text-header{
    display:flex;
    height: 700px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.text-header h1{
    font-size: 80px;
    font-weight: bold;
    color:#fff
}

main{
    margin-bottom: -6px;
}

.text-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container-hobbie{
    display:flex;
    justify-content: space-evenly;
}

.image-hobbie{
    width: 50%;
}

.hobbie .content-text{
    width: 50%;
}


.content-text h3{
    margin-bottom: 20px;
}


.content-text h3 span{
    background: #212442;
    color:#fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 40px;
    height:40px;
    padding:1px;
    box-shadow:  0 0 6px 0 rgba(0, 0, 0, .10);
    margin-right: 10px;
}


.content-text p{
    padding: 0px 0px 40px 20px;
    text-align:justify;
    font-weight: 400;
}


.like-us{
    background:#f2f2f2
}

.container-like{
    display: flex;
    flex-wrap: wrap;
    margin-top:60px;
    justify-content: space-around;
}

.like{
    width: 40%;
    background:#fff;
    margin-bottom: 40px;
    border-radius:20px;
    position:relative;
}

.like img{
    width: 100%;
    height: 200px;
    margin:auto;
}

.hover-gallery{
    display:none
}


.like h3{
 font-size:30px;
 margin-top:10px;
 padding: 15px 20px 20px 20px
}

.like p{
    font-weight: 100;
    color:#5d6678;
    padding: 10px 15px 35px 15px
    
}

footer{
    background:#3b5f8f;
    padding:70px 0;
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:auto;
}
.firstfooter{
    width: 40%;
}

.firstfooter h4{
    color:#fff;
    font-size:30px;
    font-weight: 500;
    margin-bottom:40px;
}

.firstfooter p{
    color:#fff;
    font-weight: 100;
}

.itemfooter{
    width: 20%;
}

.itemfooter h4{
    color:#fff;
    font-size:30px;
    font-weight: 500;
    margin-bottom:30px;
}

.itemfooter a{
    display: block;
    text-decoration:none;
    color:#fff;
    margin-bottom: 20px;
}